<div id="partproChoice" class="bg-image p-5">
    <h1 class="m-0 text-center">Bienvenue sur Secrétaire Pro</h1>
    <div class="d-flex justify-content-center flex-column flex-wrap gap-3">
        <button data-fragment='part' data-subFragment='acceuil' class="w-100 change-fragment-site btn btn-lg p-4 p-md-5 p-lg-5 fs-2 fw-bold btn-primary">Vous êtes un particulier</button>
        <button data-fragment='pro' data-subFragment='acceuil' class="w-100 change-fragment-site btn btn-lg p-4 p-md-5 p-lg-5 fs-2 fw-bold btn-secondary">Vous êtes un professionnel</button>
    </div>
</div>