<div id="partproChoice" class="bg-image">
        
    <h1 class="m-0 text-center">Bienvenue sur Secrétaire Pro</h1>
    <div class="d-flex gap-3">
        <button data-fragment='part' data-subFragment='acceuil' class="change-fragment-site btn btn-lg p-5 fs-2 fw-bold btn-primary">Vous êtes un particulier</button>
        <button data-fragment='pro' data-subFragment='acceuil' class="change-fragment-site btn btn-lg p-5 fs-2 fw-bold btn-secondary">Vous êtes un professionnel</button>
    </div>
</div>