{% extends 'base.html.twig' %}

{% block title %}Secrétaire{% endblock %}

{% block body %}
<div class="d-flex flex-column min-vh-100">
    <div id="btnPartPro" class="bg-image">
        
        <h1 class="m-0 text-center">Bienvenue sur Secrétaire Pro</h1>
        <div class="d-flex">
            <button id="btnPart" class="btn btn-lg btn-primary"><h1>Vous êtes un particulier</h1></button>
            <button id="btnPro" class="btn btn-lg btn-secondary"><h1>Vous êtes un professionnel</h1></button>
        </div>
    </div>
    <div id="pro" class="d-none">
        {% include 'partials/Page/Pro/index.html.twig' %}
    </div>
    <div id="part" class="d-none">
        {% include 'partials/Page/Part/index.html.twig' %}
    </div>
        
    {% include 'partials/Page/footer.html.twig' %}  
</div>
{% endblock %}

    