{% extends 'base.html.twig' %}

{% block title %}Jobs{% endblock %}

{% block body %}
    <div class="background-jobs">
        <!-- Navbar -->
        {% include 'partials/Page/header.html.twig' %}

        <!-- Hero Section -->
        <section class="hero">
            <div class="heroContent">
                <h1>Rejoignez notre équipe</h1>
                <p>Découvrez nos offres de jobs dans le domaine administratif et numérique.</p>
            </div>
            <a href="{{ path('contact') }}">Contactez-nous</a>
        </section>
    </div>

    <!-- Job Opportunities Section -->
    

    <!-- Footer -->
    {% include 'partials/Page/footer.html.twig' %}
{% endblock %}
