{% extends 'base.html.twig' %}

{% block title %}Secrétariat Indépendante{% endblock %}

{% block body %}
<div class="background-secretariat">
    <!-- Navbar -->
    {% include 'partials/Page/header.html.twig' %}

    <!-- Hero Section -->
    <section class="hero">
        <div class="heroContent">
            <h1>Secrétariat</h1>
            <p>Détails des services proposés</p>
        </div>
        <a href="{{ path('contact') }}">Contactez-nous</a>
    </section>
</div>

<!-- Services Section -->
<h1 class="services-title bg-white">Nos services de secrétariat</h1>
<h2 class="services-subtitle bg-white">Optimisez votre gestion administrative</h2>
<section id="services" class="service-list d-flex flex-wrap justify-content-center bg-white">
    <div class="expert-item d-flex flex-column align-items-center">
        <img src="{{ asset('build/images/secr2.png') }}" alt="Rencontre experts" class="expert-icon">
        <h2>Gestion administrative</h2>
        <p>Optimisez votre temps avec un suivi administratif sans faille.</p>
    </div>
    <div class="expert-item d-flex flex-column align-items-center">
        <img src="{{ asset('build/images/secr3.png') }}" alt="Service 360°" class="expert-icon">
        <h2>Prise de rendez-vous</h2>
        <p>Un service de prise de rendez-vous flexible et adapté à vos besoins.</p>
    </div>
    <div class="expert-item d-flex flex-column align-items-center">
        <img src="{{ asset('build/images/secr1.png') }}" alt="Support Technique" class="expert-icon">
        <h2>Gestion des emails</h2>
        <p>Organisez vos emails de manière efficace et professionnelle.</p>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact">
    <h2>Une question?</h2>
    <p>Notre société peut couvrir tous les besoins en secrétariat de votre entreprise</p>
    <p><a href="mailto:contact@secretairepro.com">contact@secretairepro.com</a></p>
    <p><a href="tel:+1234567890">+123 456 7890</a></p>
</section>

<!-- Footer -->
{% include 'partials/Page/footer.html.twig' %}
{% endblock %}
