<div class="custom-bg d-flex">
    <!-- Sidebar -->
    {% include 'partials/user/_header.html.twig' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <div class="container">
            <h5>Mes Contacts Personnels </h5>
            <div class="container card mb-4">
                <div class="container card-header d-flex justify-content-between align-items-center">
                    <h5>Liste des contacts personnels</h5>
                </div>
                <div class="card-body">
                    <!-- Coordonnées -->
                    <p class="text-danger pt-3"></p>
                    <!-- à faire: boucle des clients -->
                    <table class="table table-bordered table-striped" id="repertoireOrganisme">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Téléphone</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bla</td>
                            <td>01 123 456 789</td>
                            <td><a href="#">voir plus...</a></td>
                        </tr>
                        <!-- Ajouter plus de lignes ici -->
                    </tbody>
                </table>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a id="btnNewRepertoirePersonnel" href="#link-newRepertoirePersonnel" class="btn btn-primary">Créer un nouveau contact</a>
        </div>
    </div>
</div>   
