{% extends 'base.html.twig' %}

{% block title %}Dashboard utilisateur{% endblock %}

{% block body %}
    <div id="userContent" class="custom-bg d-flex ">
        {% include 'userPage/_header.html.twig' %}
        
        <div id="fragmentContent" class="custom-bg full-height m-0 p-0 w-100">
            {% include 'partials/flash.html.twig' %}
            {% include 'userPage/_fragmentContent.html.twig' %}
        </div>
    </div>
{% endblock %}
