<div class="modal fade" id="factureDetailsModal" tabindex="-1" role="dialog" aria-labelledby="factureDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div id="loading" style="display: flex; justify-content: center; align-items: center; position: fixed; width: 100%; height: 100%;">
        <div class="spinner">
            <div class="bounce1" style='background-color: #f0f0f0 !important;'></div>
            <div class="bounce2" style='background-color: #f0f0f0 !important;'></div>
            <div class="bounce3" style='background-color: #f0f0f0 !important;'></div>
        </div>
    </div>
    
    <div class="modal-content d-none" id="modalContentFacture">
      <div class="modal-header">
        <h5 class="modal-title w-100 d-flex justify-content-between" id="factureDetailsModalLabel">
          <span>Détails de la facture n°<label id="factureId" class="border-0 bg-transparent text-black"></label></span>
          <span><label id="factureMontant2" class="border-0 bg-transparent text-black"></label></h5></span>
      </div>
      <div class="modal-body m-3 p-0">

        <!-- Tableau des articles de la facture -->
        <table class="table table-bordered" style="width: 100%; table-layout: fixed;" id='factureContentTable'>
            <thead>
                <tr>
                    <th class="text-start border-1" style="background-color: #f0f0f0; width: 45%;">Désignation</th>
                    <th class="text-center border-1" style="background-color: #f0f0f0; width: 10%;">Qté</th>
                    <th class="text-center border-1" style="background-color: #f0f0f0; width: 17%;">PU</th>
                    <th class="text-center border-1" style="background-color: #f0f0f0; width: 28%;">HTVA</th>
                </tr>
            </thead> 
            <tbody></tbody>
        </table>
       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-primary" id="btnPdfFacture">PDF</button>
          <button type="button" class="btn btn-primary" id="btnPrintFacture">Impression</button>
      </div>
    </div>
  </div>
</div>
