

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <div class="container card mb-4">
            <div class="container card-header d-flex justify-content-between align-items-center">
                <h4>Paramètres</h4>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
