
    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <div class="container">
        <!-- Informations Personnelles -->
            <h5>Facture </h5>
            <div class="card mb-4">
                <div class="card-body">
                    {# <h1>{{ dossier.name }}</h1>
                    <p>ID du dossier : {{ dossier.id }}</p> #}
                </div>
            </div>
        </div>
    </div>
