<div class="custom-bg d-flex">
    <!-- Sidebar -->
    {% include 'partials/user/_header.html.twig' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <div class="container card mb-4">
            <div class="container card-header d-flex justify-content-between align-items-center">
                <h5>Nouveau Client</h5>
            </div>
            <div class="card-body">
                <div class="row mt-5">
                    <div class="col-md-4 mb-3">
                        <label for="repertoirenomclient">Nom</label>
                        <input id="repertoirenomclient" class="form-control" placeholder="Nom">
                    </div>
                    <div class="col-md-8 mb-3">
                        <label for="repertoireadresseclient">Adresse</label>
                        <input id="repertoireadresseclient" class="form-control" placeholder="adresse">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="repertoirecodePostalclient">Code Postal</label>
                        <input id="repertoirecodePostalclient" class="form-control" placeholder="Code Postal">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repertoirevilleclient">Ville</label>
                        <input id="repertoirevilleclient" class="form-control" placeholder="Ville">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repertoirepaysclient">Pays</label>
                        <input id="repertoirepaysclient" class="form-control" placeholder="Pays">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="repertoiretelephoneclient">Téléphone</label>
                        <input id="repertoiretelephoneclient" class="form-control" placeholder="Téléphone">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repertoiremobileclient">Mobile</label>
                        <input id="repertoiremobileclient" class="form-control" placeholder="Mobile">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repertoireemailclient">Adresse e-mail</label>
                        <input id="repertoireemailclient" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Créer un nouveau contact</a>
        </div>
    </div>
</div>   
