<div class="custom-bg d-flex">
    <!-- Sidebar -->
    {% include 'partials/user/_header.html.twig' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">

        <div class="container card mb-4">
            <div class="container card-header d-flex justify-content-between align-items-center">
                <h5>Nouvel Organisme</h5>
            </div>
            <div class="card-body">
                <div class="row mt-5">
                    <div class="col-md-6 mb-3">
                        <label for="repertoirenomorganisme">Nom de l'organisme</label>
                        <input id="repertoirenomorganisme" class="form-control" placeholder="Nom de l'organisme">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="repertoiresiretorganisme">Siret</label>
                        <input id="repertoiresiretorganisme" class="form-control" placeholder="Siret">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="repertoirecontactorganisme">Contact</label>
                        <input id="repertoirecontactorganisme" class="form-control" placeholder="Nom du contact">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repertoiretelephoneContactorganisme">Téléphone</label>
                        <input id="repertoiretelephoneContactorganisme" class="form-control" placeholder="Téléphone du contact">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repertoireroleContactorganisme">Rôle</label>
                        <input id="repertoireroleContactorganisme" class="form-control" placeholder="Rôle du contact">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="repertoireadresseorganisme">Adresse</label>
                        <input id="repertoireadresseorganisme" class="form-control" placeholder="adresse">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="repertoirecodePostalorganisme">Code Postal</label>
                        <input id="repertoirecodePostalorganisme" class="form-control" placeholder="Code Postal">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="repertoirevilleorganisme">Ville</label>
                        <input id="repertoirevilleorganisme" class="form-control" placeholder="Ville">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="repertoirepaysorganisme">Pays</label>
                        <input id="repertoirepaysorganisme" class="form-control" placeholder="Pays">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="repertoiretelephoneorganisme">Téléphone</label>
                        <input id="repertoiretelephoneorganisme" class="form-control" placeholder="Téléphone">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repertoiremobileorganisme">Mobile</label>
                        <input id="repertoiremobileorganisme" class="form-control" placeholder="Mobile">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="repertoireemailorganisme">Adresse e-mail</label>
                        <input id="repertoireemailorganisme" class="form-control" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Créer un nouvel organisme</a>
        </div>
    </div>
</div>   
