<h1 class="expert-title">Libérez-vous des tâches administratives et concentrez-vous sur l’essentiel.</h1>
<section id="experts" class="experts">
    {% set experts = [
        { "icon": "fas fa-users fa-3x text-danger", "title": "Rencontre Experts", "description": "Recevez la visite d'un expert qui établira la meilleure solution pour votre entreprise !" },
        { "icon": "fas fa-circle-notch fa-3x text-danger", "title": "Service 360°", "description": "Permettez à votre entreprise de bénéficier d'un service professionnel en secrétariat." },
        { "icon": "fas fa-wrench fa-3x text-danger", "title": "Support Technique", "description": "Qui mieux que notre équipe pour répondre à vos questions ?" }
    ] %}

    {% for expert in experts %}
        <div class="expert-item">
            <i class="{{ expert.icon }}" style="height:60px;"></i>
            <h2>{{ expert.title }}</h2>
            <p>{{ expert.description }}</p>
        </div>
    {% endfor %}
</section>
