<div id="link-start-pro" class="background-index d-flex flex-grow-1 fade-in">

    {% include 'partials/Page/Pro/_navBar.html.twig' %}

    <section class="hero">
        <div class="heroContent">
            <h1>Votre Secrétaire Indépendante</h1>
            <p>Des services de secrétariat professionnels pour tous.</p>
        </div>
        <div>
            <a href="#link-contact-pro">Contactez-nous</a>
        </div>
    </section>


    <div id='intro-pro' style="min-height:40vh; background-color: #ffffff;">
        {% include 'partials/Page/Pro/_intro.html.twig' %}
    </div>
</div>
<div id='link-service-pro' style="min-height:100vh; background-color: #ffffff;" class='d-none fade-in'>
    {% include 'partials/Page/Pro/_service.html.twig' %}
</div>
<div id='link-contact-pro' style="min-height:100vh; background-color: #ffffff;" class='d-none fade-in'>
    <div class="background-contact">
        {% include 'partials/Page/Pro/_navBar.html.twig' %}
            {% include 'partials/Page/_contact.html.twig' %}
    </div>

<div id='link-tarif-pro' style="min-height:100vh; background-color: #ffffff;" class='d-none fade-in'>
    {% include 'partials/Page/Pro/_tarif.html.twig' %}
</div>

<foot id="footer">
    {% include 'partials/Page/footer.html.twig' %} 
</foot>
