<div style="min-height:100vh;" class="custom-bg d-flex">
    <!-- Sidebar -->
    {% include 'partials/user/_header.html.twig' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <div class="container">
            <h5>Mon espace personnel</h5>
            <div class="card mb-4 ">
                <div class="card-body d-flex justify-content-around flex-wrap">
                    <a id='btnFactures' href="#link-Factures" class="btn card-link mb-4">
                        <i class="fas fa-file-invoice fa-3x d-sm-none"></i>
                        <i class="fas fa-file-invoice fa-3x d-none d-sm-inline d-md-none"></i>
                        <i class="fas fa-file-invoice fa-4x d-none d-md-inline"></i>
                        <h5>Mes factures</h5>
                    </a>
                    <a id='btnRepertoire' href="#link-Repertoire" class="btn card-link mb-4">
                        <i class="fas fa-folder fa-3x d-sm-none"></i>
                        <i class="fas fa-folder fa-3x d-none d-sm-inline d-md-none"></i>
                        <i class="fas fa-folder fa-4x d-none d-md-inline"></i>
                        <h5>Mon répertoire</h5>
                    </a>
                    <a id='btnProfile' href="#link-Profile" class="btn card-link mb-4">
                        <i class="fas fa-user-circle fa-3x d-sm-none"></i>
                        <i class="fas fa-user-circle fa-3x d-none d-sm-inline d-md-none"></i>
                        <i class="fas fa-user-circle fa-4x d-none d-md-inline"></i> 
                        <h5>Mes informations</h5>
                    </a>
                    <a id='btnParametres' href="#link-parametres" class="btn card-link mb-4">
                        <i class="fas fa-cogs fa-3x d-sm-none"></i>
                        <i class="fas fa-cogs fa-3x d-none d-sm-inline d-md-none"></i>
                        <i class="fas fa-cogs fa-4x d-none d-md-inline"></i>
                        <h5>Paramètres</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{# <div class="row g-4 text-center">
    <div class="col-12 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6 class="card-title">Mes factures</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nom de la facture</th>
                            <th>ID</th>
                            <th>Status</th>
                            <th>Informations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for facture in factures %}
                            <tr>
                                <td>{{ facture.name }}</td>
                                <td>{{ facture.id }}</td>
                                <td>{{ facture.status }}</td>
                                <td>{{ facture.info }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a id='btnFactures' href="#link-Factures" class="btn btn-secondary btn-sm">Accéder</a>
            </div>
        </div>
    </div>
</div> #}
{# <div class="row g-4 text-center">
    <div class="col-md-12 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h6 class="card-title">Mon répertoire</h6>
                <ul id="previewDossiers" class="p-0 mb-3 d-flex justify-content-center flex-wrap">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a id='btnFournisseurFolder' href="#link-fournisseurFolder" class="text-decoration-none rounded-pill m-1 p-2 text-secondary bg-warning">Fournisseurs</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a id="btnclientFolder" href="#link-clientFolder" class="text-decoration-none rounded-pill m-1 p-2 text-secondary bg-warning">Clients</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a id="btncontactsFolder" href="#link-contactsFolder" class="text-decoration-none rounded-pill m-1 p-2 text-secondary bg-warning">Contact</a>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a id="btnorganismeFolder" href="#link-organismeFolder" class="text-decoration-none rounded-pill m-1 p-2 text-secondary bg-warning">Organisme</a>
                    </li>
                </ul>
                <a id='btnRepertoire' href="#link-Repertoire" class="btn btn-secondary btn-sm">Accéder</a>
            </div>
        </div>
    </div>
</div> #}