<div class="custom-bg d-flex">
    <!-- Sidebar -->
    {% include 'partials/user/_header.html.twig' %}

    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <div class="container">
            <h5>Informations Personnelles</h5>
            <div class="card mb-4">
                {# <div class="container card-header d-flex justify-content-between align-items-center">
                </div> #}
                <div class="card-body">
                    <!-- Coordonnées -->
                    <p class="text-danger pt-3">Coordonnées</p>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="numero-voie">Numéro de voie</label>
                            <input id="numero-voie" class="form-control" placeholder="Numéro de voie">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="rue">Rue</label>
                            <input id="rue" class="form-control" placeholder="Rue">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="complement">Complément d'adresse</label>
                            <input id="complement" class="form-control" placeholder="Complément d'adresse">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="code-postal">Code Postal</label>
                            <input id="code-postal" class="form-control" placeholder="Code Postal">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="ville">Ville</label>
                            <input id="ville" class="form-control" placeholder="Ville">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="telephone">Téléphone</label>
                            <input id="telephone" class="form-control" placeholder="Téléphone">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="mobile">Mobile</label>
                            <input id="mobile" class="form-control" placeholder="Mobile">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="email">Adresse e-mail</label>
                            <input id="email" class="form-control" value="{{ app.user.email }}" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Facturation -->
            <div class="container card mb-4">
                <div class="card-body">
                    <p class="text-danger pt-3">Facturation</p>
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="numero-tva">Numéro de TVA</label>
                            <input id="numero-tva" class="form-control" placeholder="Numéro de TVA">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="nom-entreprise">Nom d'entrepreprise</label>
                            <input id="nom-entreprise" class="form-control" placeholder="Nom d'entreprise">
                        </div>
                    </div>
                    <p class="text-danger border-top pt-3">Services choisis:</p>
                    {# à faire boucle sur les services #}
                    <ul>
                        <li> Service Administratif</li>
                        <li> Service Numérique</li>
                        <li> Service Commercial</li>
                        <li> Service Téléphonique</li>
                    </ul>
                </div>
            </div>

            <!-- Vos Identifiants -->
            <div class="container card mb-4">
                <div class="card-body">
                    <p class="text-danger">Vos identifiants</p>
                    <div class="row">
                        <div class="mb-3">
                            <label for="login">Login</label>
                            <input id="login" class="form-control" value="{{ app.user.email }}" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="password">Mot de passe</label>
                            <input id="password" type="password" class="form-control" value="{{ app.user.password }}" readonly>
                            <a href="#" class="text-danger mt-2 d-block">Modifier le mot de passe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
