<div class="container card mb-4">
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-12">
                <div class="container card-header bg-white">
                    <h5>Agenda</h5>
                </div>
                <div class="container mt-3">
                    <h5>Évènements à venir</h5>
                    <ul>
                        {% for event in events|slice(0, 3) %}
                            <li>
                                <strong>{{ event.title }}</strong><br>
                                <small>{{ event.start|date('d/m/Y H:i') }}</small><br>
                                <p>{{ event.description }}</p>
                            </li>
                        {% else %}
                            <li>Aucun événement à venir.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="{{ path('user_agenda') }}" class="btn btn-secondary">Voir mon agenda</a>
        </div>
    </div>
</div>