<div class="custom-bg d-flex" style="min-height:100vh;">
    <!-- Sidebar -->
    {% include 'partials/user/_header.html.twig' %}
    <!-- Main Content -->
    <div class="flex-grow-1 p-4 d-flex flex-column">
        <div class="container">
        <!-- Informations Personnelles -->
            <h5>Mon répertoire </h5>
            <div class="card mb-4">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>   
