{% extends 'base.html.twig' %}

{% block title %}Dashboard utilisateur{% endblock %}

{% block body %}
<div class="body-user">
    <div class="container-fluid custom-bg p-0 m-0">
        <div class="container-user d-flex flex-column flex-md-row">
            <!-- Sidebar -->
            {% include 'partials/user/_headerTest.html.twig' %}
            <div class="col-md-9 p-4">
                <!-- Facture Section -->
                <div class="row mb-4">
                    <div class="col-12">
                        <div class="container card-header d-flex justify-content-between align-items-center">
                            <h5>Facture</h5>
                            <i class="fas fa-file-alt fa-5x text-center m-5"></i>
                        </div>
                        <div class="container card">
                            <div class="card-body">
                                {% if factures is not empty %}
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nom du document</th>
                                                <th>Status</th>
                                                <th>Informations</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for facture in factures %}
                                                <tr>
                                                    <td>{{ facture.name }}</td>
                                                    <td>{{ facture.status }}</td>
                                                    <td>{{ facture.info }}</td>
                                                    <td>
                                                        <a href="{{ path('show_facture', {'id': facture.id}) }}">Détails</a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <!-- Aucun document -->
                                    <div class="text-center">
                                        <div style="position: relative; display: inline-block;">
                                        <i class="fas fa-file-alt fa-5x text-center m-5"></i>
                                        <div style="position: absolute; 
                                                    top: 0; left: 0; 
                                                    right: 0; bottom: 0; 
                                                    background-color: rgba(255, 255, 255, 0.7); 
                                                    z-index: 1;">
                                            </div>
                                        </div>
                                        <h1 style="color: grey;">Aucune Facture</h1>
                                        <p class="text-muted">À cet endroit, vous pourrez consulter vos factures.</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>             
            </div>
        </div>
    </div>
    {% include 'partials/Page/footer.html.twig' %}
</div>
{% endblock %}
