<div class="body-user">
    <div class="container-fluid custom-bg p-0 m-0">
        <div class="d-flex flex-column flex-md-row">
            <!-- Sidebar -->
            {% include 'partials/user/_header.html.twig' %}
            <div class="flex-grow-1 p-4">

                <div class="row mb-4">
                    <div class="col-12">


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   
